{% extends 'bookstore/base.html' %}
{% load static %}

{% block title %}
<title>책 추천</title>
{% endblock %}

{% block content %}
<img id="logo" class="rounded mx-auto d-block" src=" {% static 'images/logo.jpg' %}" alt="">
<hr>

<!-- 첫째줄 -->
<div class="container">
    <div class="row justify-content-md-center">
        <!-- Designed by https://www.flaticon.com/authors/freepik -->
        <a href="{% url 'computer' %}" class="btn btn-light col-lg-2" id="click-image"><img src="{% static 'images/computer.png' %}">IT 모바일</a>
        <!-- Designed by https://www.flaticon.com/authors/freepik -->
        <a href="#" class="btn btn-light col-lg-2" id="click-image"><img src="{% static 'images/naturalscience.png' %}">자연과학</a>
        <!-- Designed by https://www.flaticon.com/authors/smashicons -->
        <a href="#" class="btn btn-light col-lg-2" id="click-image"><img src="{% static 'images/economy.png' %}">경제 경영</a>
        <!-- Designed by https://www.flaticon.com/authors/freepik -->
        <a href="#" class="btn btn-light col-lg-2" id="click-image"><img src="{% static 'images/history.png' %}">역사</a>
    </div>
</div>

{% endblock %}