{% extends 'bookstore/base.html' %}
{% load static %}

{% block title %}
<title>책 추천</title>
{% endblock %}

{% block content %}
<img id="logo" class="rounded mx-auto d-block" src=" {% static 'images/logo.jpg' %}" alt="">
<hr>

<!-- 첫째줄 -->
<div class="container">
    <div class=" row">
        <a href="{% url 'computer' %}" class="btn btn-light col-md-3" id="click-image"><img
                src="{% static 'images/computer.png' %}">Computer</a>
        <a href="#" class="btn btn-light col-md-3" id="click-image"><img src="{% static 'images/math.png' %}">Math</a>
        <a href="#" class="btn btn-light col-md-3" id="click-image"><img
                src="{% static 'images/english.png' %}">English</a>
        <a href="#" class="btn btn-light col-md-3" id="click-image"><img
                src="{% static 'images/history.png' %}">History</a>
    </div>
</div>



{% endblock %}