{% extends 'bookstore/base.html' %}
{% load static %}

{% block title %}
<title>게임</title>
{% endblock %}

{% block content %}
<!-- 첫째줄 -->
<div class="container">
    <!-- 태그 시작 -->
    <div id="cateSubListWrap" class="row d-flex justify-content-center cateSubListArea clearfix">
        <div class="content">
            <table class="table">
                <thead class="d-flex justify-content-center">
                    게임
                </thead>
                <tbody class="d-flex justify-content-center">
                    <tr>
                        <td><a href="">게임 기획</a></td>
                        <td><a href="">게임 개발</a></td>
                        <td><a href="">게임가이드북/화보집</a></td>
                        <td><a href="">모바일 게임</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}