{% extends 'bookstore/base.html' %}
{% load static %}

{% block title %}
<title>네트워크/해킹/보안</title>
{% endblock %}

{% block content %}
<!-- 첫째줄 -->
<div class="container">
    <div class="row justify-content-md-center">
        <div id="cateSubListWrap" class="cateSubListArea clearfix">
            <div class="row justify-content-md-center border border-dark">
                <table class="table">
                    <thead>
                        네트워크/해킹/보안
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="">네트워크 일반</a></td>
                            <td><a href="">TCP/IP</a></td>
                            <td><a href="">보안/해킹</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

            

<div class="container">
    <div class="row justify-content-md-center">
        {% for book in books %}
        author name : {{ book.author_name }}<br>
        title : {{ book.title }}<br>
        {% endfor %}
        <br>
        <hr>
        {% for book in books %}
        {{ book.reviews__author}}<br>
        {{ book.reviews__text}}<br>
        {{ book.reviews__grade}}<br>
        <br>
        {% endfor %}
    </div>
</div>
{% endblock %}